# Various generated objects
*.swp
pkg/current

# Secrets
secrets-env-*
pkg/available/ssh/.ssh/id_*
secrets/.config/mm4cc/secrets/*

# Heavy downloads
pkg/available/chuck/projects
pkg/available/chusic/projects/chusic
obsidian.deb
